<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <form action="/items/" method="post">
            <input type="text" name="ItemType" placeholder="Item Type">
            <input type="text" name="Description" placeholder="Description">
            <input type="checkbox" name="Status" value="True">
            <button type="submit">Create Item</button>
        </form>
    </body>
</html>